[default]
#everything else
strategy = static
base_fee_msat = 0
fee_ppm = 3000

[Root-Nodes]
#root routing nodes - set 0 fee channel interlink
node.id = file://~/charge-lnd/rootnodes.list
strategy = static
base_fee_msat = 0
fee_ppm = 0

[LSP-Nodes]
#preferred rate routing nodes
node.id = file://~/charge-lnd/lspnodes.list
strategy = static
base_fee_msat = 0
fee_ppm = 1000

[Leaf-Node]
#match on nodes that cannot route (node.match_channels = 1)
node.match_channels = 1
strategy = static
base_fee_msat = 0
fee_ppm = 0
